@model Quản_Lý_Sách.Models.SACH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THE_LOAI.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THE_LOAI.TenTheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
