@model IEnumerable<Quản_Lý_Sách.Models.GIAO_DICH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTraDuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTraThucTe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACH_HANG.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SACH.TenSach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayMuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTraDuKien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTraThucTe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACH_HANG.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.TenSach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGD })
        </td>
    </tr>
}

</table>
